<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">نام:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">توصیحات:</strong>
    <%= product.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">قیمت:</strong>
    <%= product.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">دسته بندی:</strong>
    <%= product.category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">وضعیت:</strong>
    <%= product.active %>
  </p>

</div>
